.App {
  text-align: center;
}
.Home
{
  text-align:center;

    padding: #d32f68(101, 182, 97) 20px; background-color:rgba(26, 171, 103, 0.734);
    display: grid;
    place-items:center;
    background-color:#ba5176(26, 171, 103, 0.734);
    display: grid;
    place-items:center;
    background-image: url(https://i.pinimg.com/564x/0d/a7/2e/0da72e2e3aed2e7432c18e2f797b4038.jpg);
    background-repeat: repeat-x;
    background-position: right top;
    background-size: cover;
    min-height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f08080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.CreatePatient {
  padding: 20px;
  text-decoration: none;
  transition: 0.2s ease-in;
  font-size: 18px;
  min-height: 100vh;
  color: rgb(57, 102, 165);
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-image: url(https://i.pinimg.com/564x/09/e0/5f/09e05f76ea9a0604fc01557cfa001a1f.jpg);
  background-size: 100%;
}

.ShowPatientDetails {
  background-color: #7a7bbc;
  min-height: 100vh;
  color: f4a261;
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position :relative;  
}

.UpdatePatientInfo {
  background-color: #7a7bbc;
  min-height: 100vh;
  color:f4a261;
}

.ShowPatientList {
  background-color: #7a7bbc(26, 171, 103, 0.734);
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  color: f4a261;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-size: cover;
}


.list {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 5px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    background-color: #7a7bbc;
}


.card-container {
  width: 250px;
  height: auto;
  border: 1px solid rgb(165, 165, 165);
  margin: 0 auto;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
  border-radius: 20px;
  background-color: #bcbeed;
}


.desc {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px 5px;
    grid-column-gap: 10px;
    grid-row-gap: 20px; 
}

.web-desc h1 {
  font-size: 1em;
  font-weight: 400;
  padding: rgb(101, 182, 97) 20px;
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: CLINIC 1s ease-in-out infinite alternate;
  -moz-animation: CLINIC 1s ease-in-out infinite alternate;
  animation: CLINIC 1s ease-in-out infinite alternate;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.web-desc {
  width: 100vw;
}

@keyframes  CLINIC {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #4aa7dc, 0 0 40px #4aa7dc, 0 0 50px #4aa7dc, 0 0 60px #4aa7dc, 0 0 70px #4aa7dc;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #0a4956, 0 0 40px #0a4956, 0 0 50px #0a4956, 0 0 60px #0a4956, 0 0 70px #0a4956, 0 0 80px #0a4956;
  }
} 

.web-desc h6, p {
  font-weight: 300;
  text-align: center;
  font-size: 13;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.web-desc h6  {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
}
.bgcolor{
  background-color: rgb(214, 156, 241);
  opacity: 0.6;
  /*background-image: url("paper.gif");*/
}

.home{
  background-image: url(https://www.shutterstock.com/image-photo/stethoscope-purple-add-adhd-awareness-260nw-2230651233.jpg);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
/* .head{
  height: 200px;
  justify-self: center;
  display: block;
  background-color: rgba(79, 74, 74, 0.7);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
} */
.button{
  height: auto;
  width: auto;
  font-weight: 800;
  text-align: center;
  background-color: rgb(36, 125, 150);
  color: rgb(248, 248, 248);
  cursor: pointer;
  border-radius: 2px;
  font-size: auto;
  margin: 0 auto;
  transition: 0.2s all;
  border: none;
  border-radius: 10px;
  box-shadow: -4px 2px 12px 1px rgb(21, 77, 161);
}
.button-1{
  height: 20px;
  display: block;
  box-shadow: -4px 2px 12px 1px rgb(21, 77, 161);
  color: white;
  font-weight: bold;
  bottom: 0%;
  left: 0%;
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.button-2{
  margin: auto;
  height: 20px; 
  display: block;
  box-shadow: -4px 2px 12px 1px rgb(21, 77, 161);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  width: 100%;
  padding: 20px;
  text-align: center;

}
.button::before{
  background-color: rgb(50, 70, 125);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.tbr{
  background: -moz-repeating-linear-gradient(rgba(43, 85, 122, 0.755),rgb(70, 151, 232));
  
}


